* {
  margin: 0;
  padding: 0;
  border: 0;
}

html,
body {
  height: 100%;
}

body {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: -webkit-linear-gradient(left, #ffc3a0 0%, #ffafbd 100%);
  background-image: linear-gradient(to right, #ffc3a0 0%, #ffafbd 100%);
}

canvas {
  height: 100%;
  width: 100%;
}

.copy {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  pointer-events: none;
  z-index: 100;
}
.copy h1 {
  margin: 0;
  color: #6f86d6;
  letter-spacing: 1px;
  font-size: 7em;
  font-weight: 700;
  font-family: 'Futura', 'Helvetica Neue', Helvetica;
  background: -webkit-linear-gradient(bottom, #48c6ef 0%, #6f86d6 100%);
  background: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
  background: -moz-linear-gradient(transparent, transparent);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.paste h6{
  margin: 0;
  color: #6f86d6;
  letter-spacing: 1px;
  font-size: 1em;
  font-weight: 700;
  font-family: 'Futura', 'Helvetica Neue', Helvetica;
  background: -webkit-linear-gradient(bottom, #48c6ef 0%, #6f86d6 100%);
  background: linear-gradient(to bottom, #48c6ef 0%, #6f86d6 100%);
  background: -moz-linear-gradient(transparent, transparent);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/*progress bar*/

#myProgress {
  width: 100%;
  background-color: #ddd;
}

#myBar {
  width: 100%;
  height: 10px;
  background-color: #4CAF50;
  text-align: center;
  line-height: 10px;
  color: white;
}



div.absolute {
    position: absolute;
    top: 829px;
    right: 0px;
    left: 0px;
    width: 100%;
    height: 10px;
    border: 0px solid #73AD21;
}